<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses mapbox.com and westherstack.com to get the weather.</p>
        <img class="portrait" src="/image/robot.png" />

    </div>
    {{>footer}}
</body>

</html>